cmake
scanpy
numpy
scikit-learn
tzlocal
simplegeneric
natsort
h5py
tqdm
patsy
llvmlite
numba
networkx
joblib
numexpr
seaborn
statsmodels
MulticoreTSNE
fa2
gprofiler-official
git+https://github.com/theislab/anndata2ri
